@use "@/styles/mixins";

.goToTop {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  user-select: none;

  .arrow {
    @include mixins.arrow(var(--color-contrasty), 2px);

    position: relative;
    top: auto;
    margin: 2px 0;
    transform: rotate(45deg);
    transition: border-color 400ms;
  }

  &::before {
    position: absolute;
    bottom: -100%;
    width: 27px;
    height: 70px;
    content: "";
    background-color: var(--color-accent);
    clip-path: polygon(50% 0, 100% 15%, 100% 100%, 50% 85%, 0 100%, 0 15%);
    transition: bottom 250ms;
  }

  &:hover {
    .arrow {
      border-color: #000;
    }

    &::before {
      bottom: 20%;
    }
  }

  &:active {
    .arrow {
      border-color: var(--color-contrasty);
      transition: border-color 100ms;
    }

    &::before {
      bottom: 200%;
    }
  }
}