@use "@/styles/mixins";
@use "@/styles/variables";

.heroArea {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  font-family: var(--font-accent);

  @include mixins.scroll-fade;

  @include mixins.mobile {
    min-height: 600px;
  }

  &::before {
    position: absolute;
    inset: -100% -50%;
    content: "";
    background: var(--wave-gradient);
    background-size: 50% 100%;
    transform: rotate(15deg);
    animation: moving-gradient 15s linear infinite;
    will-change: background-color;
  }

  &::after {
    position: absolute;
    inset: 0;
    content: "";
    background: repeating-linear-gradient(105deg,
        var(--color-background) 0,
        var(--color-background) 3px,
        transparent 4px,
        transparent 13px);
  }

  // This transition through 0 opacity is needed because browser can't animate colors in linear gradient above
  :global([data-color-scheme="light"]) &::after {
    animation: transition-to-light calc(var(--dark-light-transition) * 1.2) ease-in;
  }

  :global([data-color-scheme="dark"]) &::after {
    animation: transition-to-dark calc(var(--dark-light-transition) * 1.2) ease-in;
  }

  a {
    position: relative;

    @include mixins.text-hover-effect;

    &::after {
      width: 100%;
    }

    &:hover {
      &::after {
        width: calc(100% + 0.4em);
      }
    }
  }

  .icon svg {
    width: 100%;
    height: 100%;
    fill: var(--color-text) !important;
    transform: skew(-15deg);
  }
}

.heroBody {
  position: relative;
  z-index: 1;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: stretch;
  align-self: stretch;

  @include mixins.tablet {
    padding-right: 0;
    padding-left: 10px;
  }

  @include mixins.mobile {
    min-height: 600px;
    padding: 80px 0 60px;
  }
}

.mediaWrapper {
  position: relative;
  display: block;
  flex: 1 1 0;
  height: 100%;

  @include mixins.mobile {
    position: absolute;
    top: clamp(-100px, calc(60vw - 300px), 0px);
    left: clamp(-30px, calc(25vw - 100px), 0px);
  }
}

.textWrapper {
  position: relative;
  z-index: 1;
  flex: 1 1 0;
  align-self: center;
  padding-top: 2rem;
  font-style: italic;
  font-weight: 600;
  text-align: right;

  // text column gradually increases width, which shifts the image column progressively to the right
  @media screen and (max-width: variables.$breakpoint-3xl) and (min-width: variables.$breakpoint-md) {
    flex-grow: calc(1 + (1500px - 100vw) / 700px);
    transform: translateX(clamp(0px, calc(25px * (960px - 100vw) / 100px), 36px));
  }

  @include mixins.mobile {
    flex: none;
    width: 100%;
    padding-right: calc(10px + 10 * ((100vw - 360px) / 100));
    text-align: right;
  }
}

.heroHeading {
  font-size: 3rem;
  line-height: 1.1;
  text-align: right;

  @include mixins.mobile {
    @include mixins.text-contour(var(--color-background), 0.02em);

    padding-left: 20%;
  }
}

.separator {
  position: relative;
  display: inline-block;
  width: 0.22em;
  height: 0.22em;
  margin-right: 0.25em;
  margin-bottom: 0.18em;
  margin-left: 0.35em;
  vertical-align: baseline;
  background-color: currentcolor;
  border-radius: 0.05em;
  opacity: 0.95;
  transform: skewX(-15deg);
}

.heroSubheading {
  padding-top: 1rem;
  padding-bottom: 1.2rem;
  font-size: 2rem;
  line-height: 1.25;

  @include mixins.mobile {
    @include mixins.text-contour(var(--color-background), 0.02em);

    padding-left: 8px;
  }
}

.contacts {
  padding-top: 0.8rem;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;

  &>span {
    display: inline-block;
    padding-bottom: 0.3em;
    margin-left: 1em;

    @include mixins.mobile {
      margin-left: 0.5em;
    }

    a {
      display: inline-block;
      height: 1.3em;
    }
  }
}

.contactLabel {
  margin-bottom: 10px;
}

.textShapeLimiter {
  float: right;
  width: 120px;
  height: 400px;
  pointer-events: none;
  shape-outside: polygon(100% 0%, 100% 100%, 0 100%);

  @include mixins.tablet-only {
    width: 135px;
    height: 450px;
  }

  @include mixins.mobile {
    display: none;
  }
}

@keyframes moving-gradient {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 200% 0;
  }
}

@keyframes transition-to-light {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes transition-to-dark {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}