@use "sass:color";
@use "@/styles/variables";

.skillBar {
  display: flex;
  width: 10em;
  height: 0.7em;

  .segment {
    width: 30%;
    height: 100%;
    margin-right: 3%;
    background-color: var(--background-color);
    border: 1px solid #868686;
    border-radius: 3px;
    transform: skew(-15deg);

    &.filled {
      &[data-level="1"] {
        background-color: color.scale(variables.$accent-color, $whiteness: 50%);
      }

      &[data-level="2"] {
        background-color: color.scale(variables.$accent-color, $whiteness: 25%);
      }

      &[data-level="3"] {
        background-color: color.scale(variables.$accent-color, $whiteness: 0%);
      }
    }
  }
}