@use "sass:color";
@use "@/styles/variables";

.skillBar {
  display: flex;
  width: 10em;
  height: 0.7em;
  overflow: hidden;
  border: 1px solid #868686;
  border-radius: 3px;
  transform: skew(-15deg);

  .segment {
    width: 33.333%;
    height: 100%;
    background-color: var(--background-color);

    &.filled {
      &[data-level="1"] {
        background-color: color.scale(variables.$accent-color, $whiteness: 65%);
      }

      &[data-level="2"] {
        background-color: color.scale(variables.$accent-color, $whiteness: 35%);
      }

      &[data-level="3"] {
        background-color: color.scale(variables.$accent-color, $whiteness: 0%);
      }
    }
  }
}