@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.footer {
  position: relative;
  height: 110px;
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  font-family: var(--font-accent);
  background-image: repeating-linear-gradient(105deg,
      var(--contrasty-transparent-color) 0,
      var(--contrasty-transparent-color) 10px,
      transparent 10px,
      transparent 13px);

  a {
    color: var(--text-color);

    @include multiline-text-hover-effect;
  }

  .text {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
}