@use "@/styles/mixins";
@use "@/styles/variables";

.timeline {
  $year-height: 30px;

  position: relative;
  width: 100%;
  overflow: hidden;

  // Use more space on tablet and mobile
  @include mixins.until(variables.$breakpoint-lg) {
    width: calc(100% + 1.5rem);
    margin-right: -1rem;
    margin-left: -0.5rem;
  }

  .jobRow {
    position: relative;
    width: 100%;
    height: 120px;
    mask-image: linear-gradient(105deg,
        transparent 20px,
        #000 50px,
        #000 calc(100% - 50px),
        transparent calc(100% - 20px));

    &:first-child {
      mask-image: linear-gradient(105deg,
          #000 calc(100% - 50px),
          transparent calc(100% - 20px));
    }

    &:last-child {
      mask-image: linear-gradient(105deg, transparent 20px, #000 50px);

      .job:last-child {
        border-right-width: 0;
        border-top-right-radius: 0;
      }
    }
  }

  .jobsWrapper {
    position: absolute;
    bottom: $year-height;
    left: 1%;
    z-index: 1;
    width: 100%;
    height: calc(100% - #{$year-height});
    transform: skew(-15deg);
  }

  .job {
    $border-radius: 4px;

    position: absolute;
    bottom: -1px;
    height: 100%;
    padding: 5px 5px 5px 10px;
    overflow: hidden;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    background-color: rgba(variables.$accent-color, 0.5);
    border-radius: $border-radius $border-radius 0 0;
    transform: translateX(-50%);
    transition: all 200ms ease-out;

    @include mixins.tablet-only {
      font-size: 12px;
    }

    @include mixins.mobile {
      font-size: 11px;
    }

    &:hover {
      z-index: 3 !important;
      color: #000;
      background-color: var(--color-accent);
      border-color: transparent;
      border-radius: $border-radius;
      transform: translateX(-50%) scale(1.1, 1.15);

      // Workaround to avoid a jumping height due to text content and small width of the element
      &:not(.isShort) {
        height: auto !important;
      }

      // Short jobs expand to a fixed width on hover
      &.isShort {
        width: 100px !important;
      }

      .jobText {
        mask-image: none;
      }

      .jobDuration {
        display: block;
      }
    }

    &.isBreak {
      background-color: rgba(variables.$secondary-light-color, 0.5);

      &:hover {
        background-color: var(--color-secondary-light);
      }
    }

    .jobText {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      mask-image: linear-gradient(90deg,
          #000 calc(100% - 15px),
          transparent 100%);
      transform: skew(15deg);
    }

    .companyName {
      font-weight: var(--font-weight-normal);
    }

    .jobDuration {
      display: none;
      font-size: 0.9em;
      font-style: italic;
      font-weight: 400;
      line-height: 1;
      transform: skew(15deg);

      .durationText {
        font-style: normal;
      }
    }

    @include mixins.sheen-effect(#fff, 0.2);
  }

  .yearsWrapper {
    position: absolute;
    bottom: 30px;
    width: 100%;

    .year {
      position: absolute;
      top: 0;
      height: $year-height;
      padding-top: 2px;
      font-size: 14px;
      text-align: center;
      border-top: 1px solid var(--text-color);

      &::after {
        top: 0;
        left: calc(50% - 0.4em);
        font-size: 10px;
        content: "";

        @include mixins.triangle(var(--text-color));
      }

      &:last-child::before {
        @include mixins.arrow(var(--text-color), 1px);

        top: -4px;
        right: 1px;
        content: "";
        transform: rotate(135deg);
      }
    }
  }

  .nowMarker {
    /* @TODO: Replace this hack with proper fix of Marker position */
    position: absolute;
    top: 0;
    margin-left: min(1vw, 14px);

    &::before {
      @include mixins.rhombus(var(--accent-color));

      top: -2px;
      left: 2px;
      font-size: 16px;
      content: "";
      background-color: var(--accent-color);
    }

    &::after {
      position: absolute;
      top: -32px;
      left: 2px;
      font-size: 0.7em;
      font-weight: 700;
      color: var(--accent-color);
      content: "NOW";
      transform: rotate(-75deg);
    }
  }
}