@import "~bulma/sass/utilities/initial-variables";
@import "./variables";

:root {
  --text-color: #{$black-ter};
  --accent-color: #{$accent-color};
  --background-color: #fff;
  --contrasty-color: #000;
  --contrasty-transparent-color: rgba(0, 0, 0, 0.03);
  --wave-gradient: linear-gradient(90deg, rgba(0, 91, 188, 0.1) 0%, rgba(255, 214, 3, 0.05) 40%, rgba(0, 91, 188, 0.1) 100%);
  --dark-light-transition: 500ms;
}

[data-color-scheme="dark"] {
  --text-color: #fafafa;
  --background-color: #121e2b;
  --contrasty-color: #fff;
  --contrasty-transparent-color: rgba(255, 255, 255, 0.03);
  --wave-gradient: linear-gradient(90deg, rgba(0, 91, 188, 0.3) 0%, rgba(255, 214, 3, 0.2) 40%, rgba(0, 91, 188, 0.3) 100%);

  img {
    filter: invert(1);
  }
}

body {
  background-color: var(--background-color);
  transition: background-color var(--dark-light-transition);
  will-change: background-color;
}

.v-lazy-image {
  filter: blur(5px) opacity(50%) !important;
  transition: filter 0.7s;
}

.v-lazy-image-loaded {
  filter: blur(0) opacity(100%) !important;
}
