/* Import Bulma Utilities */
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "./variables";

/* My stuff */
@import "./mixins";

// Override bulma SCSS variables
$secondary: #d0e0ee;
$text: $black-ter;
$family-primary: $main-font;

@import "~bulma";

/*
 For Hero Area/menu:
 - Dosis [v]
 - Asap
 - Nunito
 - Glory

 For headers:
 - Dosis
 - Nunito
 - Lato [v]

 For text:
 - Nunito
 - Lato [v]
 - Open Sans
*/

// Override styles
.title {
  font-family: $accent-font;
  font-size: 2rem;
}
.subtitle,
.circle-title {
  font-family: $main-font;
}

.content {
  h3 {
    font-family: $accent-font;
  }

  a {
    color: $text;

    @include multiline-text-hover-effect;
  }
}

.section {
  font-size: 1.1em;
}
