@import "assets/scss/variables";

@mixin multiline-text-hover-effect {
  background-image: linear-gradient(to top, $accent-color 50%, transparent 50%);
  background-size: 100% 4px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 200ms ease;

  &:hover {
    padding-left: 0.45em;
    padding-right: 0.45em;
    margin-left: -0.45em;
    margin-right: -0.45em;
    color: #000;
    // There is a bug in Safari: animation isn't applied to the second linear gradient
    background-image:
      linear-gradient(105deg, transparent 0.45em, $accent-color 0.45em, $accent-color 55%, transparent 55%),
      linear-gradient(285deg, transparent 0.38em, $accent-color 0.38em, $accent-color 55%, transparent 55%);
    background-size: 100% 100%;
  }
}

// This effect visually similar to the previous one but doesn't work properly with multiline links
// Keep it for use in Hero Area due to Safari bug with animation
@mixin text-hover-effect {
  &::after {
    content: "";
    position: absolute;
    width: calc(100% + 0.4em);
    height: 2px;
    left: -0.2em;
    bottom: 0;
    background: $accent-color;
    transform: scaleY(1) skew(-15deg);
    transition: height 250ms ease;
    z-index: -1;
  }

  &:hover {
    color: #000;

    &::after {
      height: 110%;
    }
  }
  &:active {
    &::after {
      transform: scale(1.1) skew(-15deg);
    }
  }
}

@mixin text-contour($color: #fff, $distance: 0.1em, $blur-radius: 0) {
  text-shadow:
    -1*$distance -1*$distance $blur-radius $color,
    $distance -1*$distance $blur-radius $color,
    -1*$distance $distance $blur-radius $color,
    $distance $distance $blur-radius $color;
}

@mixin rhomb($color: #000) {
  position: absolute;
  display: block;
  content: "";
  height: 0.4em;
  width: 0.4em;
  bottom: 0.1em;
  background-color: $color;
  transform: rotate(45deg);
}
