// Fonts
$accent-font: "Dosis", "Lucida Console", sans-serif;
$main-font: "Nunito", "Trebuchet MS", sans-serif;

// Additional breakpoints
$small-mobile: 576px;
$big-screen: 1500px;

// My colors
$accent-color: #ffd700; // gold
$second-color: #193b5e; // Prussian blue, #3e8bbf - Green Blue Crayola, #25301f - Pine Tree
