// Fonts
$accent-font: "Dosis", "Lucida Console", sans-serif;
$main-font: "Nunito", "Trebuchet MS", sans-serif;

// Redefine standard desktop bulma breakpoint
// for better user experience on small tablets in album mode
$desktop-custom: 896px; // 2*gap will ba added, 960 is default

// Additional breakpoints
$small-mobile: 576px;
$big-screen: 1500px;

// My colors
$accent-color: #ffd700; // gold
$secondary-color: #193b5e; // Prussian blue, #3e8bbf - Green Blue Crayola, #25301f - Pine Tree
$secondary-light-color: #3e8bbf;
