@use "sass:color";
@use "@/styles/variables";

.skillBar {
  --skill-bar-height: 1.3em;

  position: absolute;
  bottom: 0.15em;
  left: 0;
  z-index: 0;
  display: flex;
  align-items: end;
  width: 10em;
  height: var(--skill-bar-height);
  margin: 0;
  overflow: hidden;
  pointer-events: none;
  transform: skew(-15deg);

  .segment {
    width: 33.333%;
    height: 1px;
    background-color: color-mix(in srgb, var(--color-contrasty), transparent 88%);
    border-right: 2px solid var(--color-background);
    opacity: 1;
    transition:
      height 250ms ease,
      opacity 250ms ease,
      background-color 250ms ease;

    &:last-child {
      border-right: none;
    }

    &.filled {
      &[data-level="1"] {
        background: color-mix(in srgb, var(--color-accent), transparent 70%);
      }

      &[data-level="2"] {
        background: color-mix(in srgb, var(--color-accent), transparent 40%);
      }

      &[data-level="3"] {
        background: color-mix(in srgb, var(--color-accent), transparent 10%);
      }

      [data-color-scheme="dark"] & {
        &[data-level="1"] {
          background: color-mix(in srgb, var(--color-accent), transparent 70%);
        }

        &[data-level="2"] {
          background: color-mix(in srgb, var(--color-accent), transparent 50%);
        }

        &[data-level="3"] {
          background: color-mix(in srgb, var(--color-accent), transparent 25%);
        }
      }
    }
  }

  div:hover > & .segment.filled {
    &[data-level="1"] {
      height: 40%;
      opacity: 0.7;
    }

    &[data-level="2"] {
      height: 75%;
      opacity: 0.6;
    }

    &[data-level="3"] {
      height: 100%;
      opacity: 0.6;
    }
  }
}