@use "sass:color";
@use "@/styles/variables";

.skillBar {
  display: flex;
  width: 10em;
  height: 1px;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: color-mix(in srgb, var(--color-contrasty), transparent 96%);

  .segment {
    width: 33.333%;
    height: 100%;
    border-right: 2px solid var(--color-background);

    &:last-child {
      border-right: none;
    }

    &.filled {
      &[data-level="1"] {
        background: linear-gradient(
          135deg,
          color-mix(in srgb, var(--color-accent), transparent 70%) 0%,
          color-mix(in srgb, var(--color-accent), transparent 60%) 100%
        );
      }

      &[data-level="2"] {
        background: linear-gradient(
          135deg,
          color-mix(in srgb, var(--color-accent), transparent 40%) 0%,
          color-mix(in srgb, var(--color-accent), transparent 30%) 100%
        );
      }

      &[data-level="3"] {
        background: linear-gradient(
          135deg,
          color-mix(in srgb, var(--color-accent), transparent 10%) 0%,
          color-mix(in srgb, var(--color-accent), transparent 0%) 100%
        );
      }

      [data-color-scheme="dark"] & {
        &[data-level="1"] {
          background: linear-gradient(
            135deg,
            color-mix(in srgb, var(--color-accent), transparent 80%) 0%,
            color-mix(in srgb, var(--color-accent), transparent 70%) 100%
          );
        }

        &[data-level="2"] {
          background: linear-gradient(
            135deg,
            color-mix(in srgb, var(--color-accent), transparent 60%) 0%,
            color-mix(in srgb, var(--color-accent), transparent 50%) 100%
          );
        }

        &[data-level="3"] {
          background: linear-gradient(
            135deg,
            color-mix(in srgb, var(--color-accent), transparent 35%) 0%,
            color-mix(in srgb, var(--color-accent), transparent 25%) 100%
          );
        }
      }
    }
  }
}