@use "../../styles/mixins";

.skills {
  .skillsGroupsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: -1.5rem;
    margin-left: -0.75rem;
  }

  .skillsTitle {
    font-weight: var(--font-weight-bold);
  }

}
