@charset "utf-8";

// Import Bulma's initial variables to get $gap and other defaults
@import "bulma/sass/utilities/initial-variables";
@import "./variables";

// Override Bulma variables before importing full Bulma
$secondary: #d0e0ee;
$text: #{var(--text-color)};
$family-primary: $main-font;
$section-padding-desktop: 3rem 3rem 3rem 5rem;
$footer-background-color: transparent;
$desktop: $desktop-custom + (2 * $gap);

// Import Bulma
@import "bulma/bulma";
