@use "@/styles/mixins";

.gooSvg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.areaTopLeft,
.areaTopRight,
.areaBottomLeft,
.areaBottomRight {
    animation-duration: 1ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-timeline: --diagram-timeline;
    animation-range: cover 0% cover 50%;
    cursor: pointer;
}

.areaTopLeft {
    fill: hsl(50deg 100% 80% / 90%);
    animation-name: slide-from-top-left;
}

.areaTopRight {
    fill: hsl(10deg 100% 85% / 90%);
    animation-name: slide-from-top-right;
}

.areaBottomLeft {
    fill: hsl(140deg 70% 80% / 90%);
    animation-name: slide-from-bottom-left;
}

.areaBottomRight {
    fill: hsl(225deg 70% 85% / 90%);
    animation-name: slide-from-bottom-right;
}

@keyframes slide-from-top-left {
    from {
        transform: translate(-150px, -150px);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes slide-from-top-right {
    from {
        transform: translate(150px, -150px);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes slide-from-bottom-left {
    from {
        opacity: 0;
        transform: translate(-150px, 150px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes slide-from-bottom-right {
    from {
        transform: translate(150px, 150px);
    }

    to {
        transform: translate(0, 0);
    }
}