@use "@/styles/mixins";
@use "@/styles/variables";

.overview {
  .columns {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    margin-bottom: 2.5rem;

    @include mixins.until(variables.$breakpoint-xl) {
      flex-direction: column;
      gap: 0;
    }

    @include mixins.mobile {
                margin-bottom: 0;
            }
  }

  .textWrapper {
    flex: 1 1 auto;
    min-width: 0;

    a {
      @include mixins.multiline-text-hover-effect;
    }

    &:global(.content) {
      margin-bottom: 0 !important;
    }
  }

  .graphicsWrapper {
    flex: 0 0 auto;
    width: 950px;

    & > p {
      text-align: center;

      @include mixins.mobile {
        text-align: start;
      }
    }

    @include mixins.until(variables.$breakpoint-2xl) {
      width: 850px;
    }

    @include mixins.until(variables.$breakpoint-xl) {
      width: 100%;
    }
  }

  .hint {
    display: none;

    @include mixins.mobile {
      display: block;
      font-size: var(--text-body-small);
      opacity: 0.8;
    }
  }

  .identityList {
    li {
      margin-bottom: 1em;

      strong {
        font-weight: 600;
        color: var(--primary-color, var(--text-color));
      }
    }
  }
}