@use "@/styles/mixins";
@use "@/styles/variables";

.overview {
    overflow: hidden;

  .strategicIdentity {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5rem;

    @include mixins.mobile {
      flex-direction: column;
      gap: 2rem;
    }
  }

  .diagramColumn {
    width: 950px;

    @include mixins.until(variables.$breakpoint-2xl) {
      width: 850px;
    }

    @include mixins.until(variables.$breakpoint-xl) {
      width: 100%;
    }
  }

  .contentColumn {
    flex: 1;
    width: 100%;
    min-width: 0;
  }

  .identityList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 1.5rem;
      line-height: 1.6;
      color: var(--text-color);

      &::before {
        @include mixins.rhombus(var(--text-color));

        position: absolute;
        top: 0.5rem;
        left: 0;
        content: "";
      }

      strong {
        font-weight: 600;
        color: var(--primary-color, var(--text-color));
      }
    }
  }
}