---
import { Timeline } from "./timeline";
import ExperienceContent from "./content/experience.mdx";
import styles from "./experience.module.scss";
import { JobTitle, Company, Interval } from "./content/mdx-ui-components";

// Map components for MDX
const components = {
  JobTitle,
  Company,
  Interval
};
---

<div class={`experience container ${styles.experience}`}>
  <h2 class="title">Experience</h2>
  <!-- client:load is needed to eagerly populate DOM and stabilize maxScrollHeight for Mobile Vertical Menu ticks -->
  <Timeline client:load />
  
  <div class="content mt-6">
    <ExperienceContent components={components} />
  </div>
</div>
