@use "@/styles/mixins";
@use "@/styles/variables";

.heroArea {
  position: relative;
  z-index: 2;
  display: flex;
  min-height: max(100vh, 650px);
  margin-bottom: 3rem;
  overflow: hidden;
  font-family: var(--font-accent);

  &::before {
    position: absolute;
    inset: -100% -50%;
    content: "";
    background: var(--wave-gradient);
    background-size: 50% 100%;
    transform: rotate(15deg);
    animation: moving-gradient 15s linear infinite;
    will-change: background-color;
  }

  @keyframes moving-gradient {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 200% 0;
    }
  }

  &::after {
    position: absolute;
    inset: 0;
    content: "";
    background: repeating-linear-gradient(105deg,
        var(--background-color) 0,
        var(--background-color) 3px,
        transparent 4px,
        transparent 13px);
  }

  // This transition through 0 opacity is needed because browser can't animate colors in linear gradient above
  :global([data-color-scheme="light"]) &::after {
    animation: transition-to-light calc(var(--dark-light-transition) * 1.2) ease-in;
  }

  :global([data-color-scheme="dark"]) &::after {
    animation: transition-to-dark calc(var(--dark-light-transition) * 1.2) ease-in;
  }

  @keyframes transition-to-light {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes transition-to-dark {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  :global(.hero-body) {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
    min-height: 100%;

    @include mixins.tablet {
      padding-right: 0;
      padding-left: 10px;
    }

    @include mixins.touch {
      min-height: 500px;
      padding-top: 0;
      padding-bottom: 0;
    }

    @include mixins.mobile {
      padding-right: 20px;
      padding-bottom: 45px;
      margin-bottom: 0;
    }
  }

  :global(.container) {
    display: flex;
    flex: 1;
  }

  .image {
    position: relative; // Added context for absolute child
    display: none;
    flex: 1 1 0;
    height: 100%;

    @include mixins.tablet {
      display: block;
    }

    @include mixins.touch {
      flex: none;
      width: 40%;
    }

    .parallelogramImageContainer {
      height: 100%;
    }

    @include mixins.desktop {
      .parallelogramImageContainer {
        height: 100%;
      }
    }
  }

  .text {
    position: relative;
    z-index: 1;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: center;
    text-align: right;

    // text column gradually increases width, which shifts the image column progressively to the right
    @media screen and (max-width: variables.$breakpoint-3xl) and (min-width: variables.$breakpoint-md) {
      flex-grow: calc(1 + (1500px - 100vw) / 800px);
    }

    @include mixins.touch {
      flex: none;
      width: 60%;
    }

    @include mixins.mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // can't just use ".is-full-mobile" cause ".is-three-fifths-touch" has higher priority
      width: 100%;
      min-height: 478px;

      .parallelogramImageContainer {
        position: absolute;
        top: 0;
        left: -196px;
        z-index: 0;
        width: 250px;
        height: 600px;
        margin-right: 0;
        margin-left: 0;
        mask-image: url("./images/parallelogram-mask.svg");
        mask-repeat: no-repeat;
        mask-size: 100% 100%;

        img {
          position: absolute;
          inset: unset;
          top: -28px;
          left: 64%;
          width: auto;
        }
      }
    }
  }

  a {
    position: relative;

    @include mixins.text-hover-effect;

    &::after {
      width: 100%;
    }

    &:hover {
      &::after {
        width: calc(100% + 0.4em);
      }
    }
  }

  .icon svg {
    width: 100%;
    height: 100%;
    fill: var(--text-color) !important;
    transform: skew(-15deg);
  }

  .title {
    position: relative;
    z-index: 1;
    font-style: italic;
    font-weight: 600;

    @include mixins.mobile {
      padding-left: 8%;

      @include mixins.text-contour(var(--background-color), 0.05em);
    }
  }

  .contacts {
    font-size: var(--size-4);
    font-style: italic;
    font-weight: 600;

    &>span {
      display: inline-block;
      padding-bottom: 15px;

      a {
        display: inline-block;
        height: 1.3em;
      }
    }

    @include mixins.touch {
      font-size: 1.3rem;
    }

    @include mixins.mobile {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      &>span {
        margin-right: 0 !important;

        a {
          margin-left: 1em;
        }
      }
    }
  }

  .contactLabel {
    margin-bottom: 10px;
  }

  .textShapeLimiter {
    float: right;
    width: 120px;
    height: 400px;
    pointer-events: none;
    shape-outside: polygon(100% 0%, 100% 100%, 0 100%);

    @include mixins.tablet-only {
      width: 135px;
      height: 450px;
    }
  }

  .parallelogramImageContainer {
    position: absolute;
    top: 0;
    left: min(-15vh, -100px);
    height: 100%;
    aspect-ratio: 1.5;
    margin: 0;
    overflow: hidden;
    background: repeating-linear-gradient(105deg,
        var(--accent-color) 0,
        var(--accent-color) 3px,
        transparent 4px,
        transparent 13px);
    mask-image: url("./images/parallelogram-mask.svg");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      content: "";
      background-color: rgba(#fff, 0.05);
    }

    img {
      position: absolute;
      top: 0;
      left: min(0px, calc((20vw - 500px) * 1vh / 1vw));
      width: 100%;
      height: 100%;
      object-fit: cover;

      &.placeholderImage {
        opacity: 1;
        filter: blur(20px);
      }

      &.realImage {
        opacity: 0;
        transition: opacity 0.6s ease-out;

        &.revealed {
          opacity: 1;
        }
      }

      @include mixins.mobile {
        transform: translate(-24px, -30px) scale(1.3);
      }
    }
  }
}